In [1]:
import pandas as pd
import numpy as np
secondary = pd.read_csv("secondary.csv")

C:\Users\Iris Huang\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (3,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
secondary

In [2]:
ticket_price = {}

In [3]:
for i in range(secondary.shape[0]):
    event = secondary["event_name"][i]
    section = secondary["section_name"][i]
    row = secondary["row_name"][i]
    seat = secondary["seat_num"][i]
    num = secondary["num_seats"][i]
    if secondary["activity_name"][i] in ("TE Posting","TE Price Update"):
        for j in np.arange(seat,seat+num):
#            if (event,section,seat,j) in ticket_price.keys():
#                ticket_price[(event,section,seat,j)] = secondary["te_posting_price"][i]
#            else:
            ticket_price[(event,section,seat,j)] = (secondary["event_date"][i],secondary["Orig_purchase_price"][i],secondary["add_datetime"][i],secondary["te_posting_price"][i],secondary["sales_channel"][i],secondary["season_year"][i],0)
    if secondary["activity_name"][i] == "TE Resale":
        for j in np.arange(seat,seat+num):
            ticket_price[(event,section,seat,j)] = (secondary["event_date"][i],secondary["Orig_purchase_price"][i],secondary["add_datetime"][i],secondary["te_purchase_price"][i]/num,secondary["sales_channel"][i],secondary["season_year"][i],1)

In [4]:
len(secondary)

694739

In [5]:
len(ticket_price)

637116

In [26]:
secondary_new = pd.DataFrame(columns =['event_name', 'section_name','row_name','seat_num','event_date','Orig_purchase_price','add_datetime','final_price','sales_channel','season_year','target'])

In [28]:
for i in ticket_price.keys():
    df = pd.DataFrame({'event_name':i[0], 
                       'section_name':i[1],
                       'row_name':i[2],
                       'seat_num':i[3],
                       'event_date':ticket_price[i][0],
                       'Orig_purchase_price':ticket_price[i][1],
                       'add_datetime':ticket_price[i][2],
                       'final_price':ticket_price[i ][3],
                       'sales_channel':ticket_price[i][4],
                       'season_year':ticket_price[i][5],
                       'target':ticket_price[i][6]},
                     index = [0])
    secondary_new = secondary_new.append(df,ignore_index = True)

KeyboardInterrupt:

In [29]:
secondary_new

,event_name,section_name,row_name,seat_num,event_date,Orig_purchase_price,add_datetime,final_price,sales_channel,season_year,target
0,CLT19TEN,624,13,13,11/30/2019 19:00,56.0,11/8/2019 0:12,50.00,NaN,2019,0
1,CLT19TEN,624,13,14,11/30/2019 19:00,56.0,11/8/2019 0:12,50.00,NaN,2019,0
2,CLT19TEN,624,13,15,11/30/2019 19:00,56.0,11/8/2019 0:12,50.00,NaN,2019,0
3,CLT19TEN,624,13,16,11/30/2019 19:00,56.0,11/29/2019 16:11,23.00,ot.seatgeek.us,2019,1
4,CLT19TEN,618,10,10,11/30/2019 19:00,56.0,11/26/2019 11:06,25.00,ot.seatgeek.us,2019,1
5,CLT19TEN,618,10,11,11/30/2019 19:00,63.0,11/15/2019 15:38,41.00,NaN,2019,1
6,CLT19TEN,618,10,12,11/30/2019 19:00,63.0,11/15/2019 15:38,41.00,NaN,2019,1
7,CLT19TEN,124,5,5,11/30/2019 19:00,109.0,11/20/2019 7:17,99.00,ot.seatgeek.us,2019,1
8,CLT19TEN,124,5,6,11/30/2019 19:00,109.0,11/20/2019 7:17,99.00,ot.seatgeek.us,2019,1
9,CLT19TEN,229,9,9,11/30/2019 19:00,109.0,11/30/2019 8:02,61.00,ot.seatgeek.us,2019,1
10,CLT19TEN,618,22,22,11/30/2019 19:00,63.0,11/24/2019 13:18,36.80,NaN,2019,0
11,CLT19TEN,110,7,7,11/30/2019 19:00,163.0,4/18/2019 10:28,234.00,NaN,2019,0
12,CLT19TEN,110,7,8,11/30/2019 19:00,163.0,4/18/2019 10:28,234.00,NaN,2019,0
13,CLT19TEN,641,1,1,11/30/2019 19:00,83.0,11/3/2019 8:52,79.00,ot.stubhub.us,2019,1
14,CLT19TEN,641,1,2,11/30/2019 19:00,83.0,11/3/2019 8:52,79.00,ot.stubhub.us,2019,1
15,CLT19TEN,619,3,3,11/30/2019 19:00,56.0,11/27/2019 7:47,26.25,NaN,2019,0
16,CLT19TEN,625,12,12,11/30/2019 19:00,56.0,10/22/2019 6:56,51.06,NaN,2019,0
17,CLT19TEN,625,12,13,11/30/2019 19:00,56.0,10/22/2019 6:56,51.06,NaN,2019,0
18,CLT19TEN,625,12,14,11/30/2019 19:00,56.0,10/22/2019 6:56,51.06,NaN,2019,0
19,CLT19TEN,625,12,15,11/30/2019 19:00,56.0,10/22/2019 6:56,51.06,NaN,2019,0
20,CLT19TEN,625,12,16,11/30/2019 19:00,56.0,11/26/2019 14:21,31.64,NaN,2019,0
21,CLT19TEN,625,12,17,11/30/2019 19:00,56.0,11/26/2019 14:21,31.64,NaN,2019,0
22,CLT19TEN,625,12,18,11/30/2019 19:00,56.0,11/26/2019 14:21,31.64,NaN,2019,0
23,CLT19TEN,110,9,9,11/30/2019 19:00,163.0,4/18/2019 10:29,234.00,NaN,2019,0
24,CLT19TEN,110,9,10,11/30/2019 19:00,163.0,4/18/2019 10:29,234.00,NaN,2019,0
25,CLT19TEN,110,9,11,11/30/2019 19:00,163.0,4/18/2019 10:29,234.00,NaN,2019,0
26,CLT19TEN,110,9,12,11/30/2019 19:00,163.0,4/18/2019 10:29,234.00,NaN,2019,0
27,CLT19TEN,114,3,3,11/30/2019 19:00,330.0,11/26/2019 5:33,355.88,NaN,2019,0
28,CLT19TEN,114,3,4,11/30/2019 19:00,330.0,11/26/2019 5:33,355.88,NaN,2019,0
29,CLT19TEN,114,3,5,11/30/2019 19:00,330.0,11/26/2019 5:33,355.88,NaN,2019,0
...,...,...,...,...,...,...,...,...,...,...,...
71119,CLT19DEN,610,23,24,10/26/2019 20:00,63.0,6/5/2019 7:38,93.71,NaN,2019,0
71120,CLT19MIA,101,1,1,11/9/2019 19:00,109.0,4/20/2019 14:41,299.00,NaN,2019,0
71121,CLT19MIA,101,1,2,11/9/2019 19:00,109.0,4/20/2019 14:41,299.00,NaN,2019,0
71122,CLT19MIA,101,1,3,11/9/2019 19:00,109.0,10/6/2019 15:54,150.00,NaN,2019,0
71123,CLT19MIA,101,1,4,11/9/2019 19:00,109.0,10/6/2019 15:54,150.00,NaN,2019,0
71124,CLT19DEN,101,1,1,10/26/2019 20:00,109.0,8/1/2019 9:52,247.00,NaN,2019,1
71125,CLT19DEN,101,1,2,10/26/2019 20:00,109.0,8/1/2019 9:52,247.00,NaN,2019,1
71126,CLT19DEN,101,1,3,10/26/2019 20:00,109.0,10/10/2019 19:12,175.00,NaN,2019,1
71127,CLT19DEN,101,1,4,10/26/2019 20:00,109.0,10/10/2019 19:12,175.00,NaN,2019,1
71128,CLT19MIA,642,6,6,11/9/2019 19:00,75.0,11/9/2019 4:47,41.00,ot.seatgeek.us,2019,1
71129,CLT19MIA,642,6,7,11/9/2019 19:00,75.0,11/9/2019 4:47,41.00,ot.seatgeek.us,2019,1
71130,CLT19MIA,642,6,8,11/9/2019 19:00,75.0,11/3/2019 15:47,49.00,ot.seatgeek.us,2019,1
71131,CLT19MIA,642,6,9,11/9/2019 19:00,75.0,11/3/2019 15:47,49.00,ot.seatgeek.us,2019,1
71132,CLT19MIA,152,9,9,11/9/2019 19:00,109.0,8/22/2019 7:53,119.88,NaN,2019,0
71133,CLT19MIA,152,9,10,11/9/2019 19:00,109.0,8/22/2019 7:53,119.88,NaN,2019,0
71134,CLT19MIA,152,9,11,11/9/2019 19:00,109.0,8/22/2019 7:53,119.88,NaN,2019,0
71135,CLT19MIA,152,9,12,11/9/2019 19:00,109.0,8/22/2019 7:53,119.88,NaN,2019,0
71136,CLT19HOU,613,3,3,10/19/2019 20:00,83.0,5/23/2019 6:24,119.00,NaN,2019,0
71137,CLT19HOU,613,3,4,10/19/2019 20:00,83.0,5/23/2019 6:24,119.00,NaN,2019,0
71138,CLT19MIA,642,2,2,11/9/2019 19:00,75.0,10/10/2019 13:26,56.00,NaN,2019,1
71139,CLT19MIA,642,2,3,11/9/2019 19:00,75.0,10/10/2019 13:26,56.00,NaN,2019,1
71140,CLT19CAR,148,3,3,12/21/2019 19:00,126.0,8/8/2019 17:31,176.00,NaN,2019,0
71141,CLT19CAR,148,3,4,12/21/2019 19:00,126.0,8/8/2019 17:31,176.00,NaN,2019,0
71142,CLT19DEN,102,13,13,10/26/2019 20:00,109.0,7/24/2019 12:08,129.00,NaN,2019,0
71143,CLT19DEN,102,13,14,10/26/2019 20:00,109.0,7/24/2019 12:08,129.00,NaN,2019,0
71144,CLT19JAX,618,7,7,11/16/2019 19:00,63.0,7/30/2019 11:04,45.00,NaN,2019,0
71145,CLT19JAX,618,7,8,11/16/2019 19:00,63.0,7/30/2019 11:04,45.00,NaN,2019,0
71146,CLT19JAX,618,7,9,11/16/2019 19:00,63.0,7/30/2019 11:04,45.00,NaN,2019,0
71147,CLT19JAX,618,7,10,11/16/2019 19:00,63.0,7/30/2019 11:04,45.00,NaN,2019,0
71148,CLT19MIA,336,15,15,11/9/2019 19:00,148.0,10/6/2019 16:23,200.00,NaN,2019,0

In [30]:
secondary_new.to_csv('secondary_new.csv')